:root {
    --black-color: #262626;
    --brown-color: #42361d;
    --yellow-color: #f7a600;
    --yellow-2-color: #8d6411;
    --gray-color: #bbb;
    --gray-2-color: #eee;
    --red-color: #3d2929;
    --red-2-color: #7e3b39;
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    background-color: #262626;
    flex-direction: row;
    height: 100vh;
}

input {
    line-height: 17px;

    padding: 0 4px;

    border: 0;
    border-bottom: 1px solid var(--yellow-2-color);

    background-color: var(--brown-color);

    color: var(--gray-color);

    outline: none;
}

input:focus {
    border-bottom: 1px solid var(--yellow-color);
}

input:invalid {
    border-bottom: 1px solid var(--red-2-color);
    background-color: var(--red-color);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-grow1 {
    flex-grow: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.kv {
    display: flex;
}

.kv > :first-child {
    min-width: 70px;
}

.kv > :last-child {
    margin-left: 10px;
}

.m4 {
    margin: 4px;
}