:root {
    --black-color: #262626;
    --black-2-color: #272727;
    --yellow-color: #f7a600;
    --gray-color: #333333;
    --gray-2-color: #666666;
    --gray-3-color: #999999;
    --gray-4-color: #bbbbbb;

    --window-color: #222222;
    --window-shadow: 0 0 5px rgb(63 162 222 / 50%);
    --window-header-color: rgba(63, 162, 222, 0.15);

    --font-family: 'Droid Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.bl-right {
    right: 0;
}

.bold {
    font-weight: bold;
}

.absolute {
    position: absolute;
}

.top-right {
    top: 0;
    right: 0;
}

div.debug {
    background-color: white;
    border: 1px solid red;
}